# Review Excercise

In [4]:
# 1. CREATE ATUPLE LITERAL NAMED CARDINAL NUMBERS THAT HOLDS THE STRINGS "FIRST", "SECOND" AND "THIRD" , IN THAT ORDER./

cardinal_numbers = ("FIRST", "SECOND", "THIRD")

print(cardinal_numbers)

('FIRST', 'SECOND', 'THIRD')

In [6]:
# 2. USING INDEX NOTATION AND PRINT(). DISPLAY THE STRING INDEX 1 IN CARDINAL_NUMBERS

print(cardinal_numbers[1])

SECOND

In [19]:
#3. UNPACK THE VALUES IN CARDINAL NUMBERS INTO THREE NEW STRINGS NAMED POSITION1, POSITION2 AND POSITION3 IN A SINGLE LINE OF CODE, THEN PRINT EACH VALUE ON A SEPARATE LINE.
position1, position2, position3 = (cardinal_numbers)
print(position1)
print (position2)
print (position3)

FIRST
SECOND
THIRD

In [20]:
# 4. CREATE ATUPLE CALLED MY  NAME THAT CONTAINS THE LETTERS OF YOUR NAME BY USING TUPLE() AND A STRING LITERAL.

my_name = tuple("ERWIN")

print(my_name)

('E', 'R', 'W', 'I', 'N')

In [22]:
# 5. CHECK WHETHER OR NOT THE CHARACTER "X" IS IN MY  NAME USING THE IN KEYWORD.

'x' in my_name

False

In [24]:
# 6. CREATEA NEW TUPLE CONTAINING ALL BUT THE FIRST LETTER IN MY NAMEUSING SLICING NOTATION.

my_name[0]

'E'

# Review Excercise

In [55]:
# 1. Create a list name food with two elements "rice" and "beans".

name_food = (["rice", "beans"])

print (name_food)

['rice', 'beans']

In [94]:
# 2. append the string "bread" and "pizza" to "food" using .extend[].

name_food.extend(["broccoli"])

print (name_food)

['rice', 'beans', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', ['broccoli'], ['broccoli'], ['broccoli'], ['broccoli'], 'broccoli', 'f', 'o', 'o', 'd', 'f', 'o', 'o', 'd', 'broccoli', 'broccoli']

In [72]:
# 3. Add the string "bread" and "pizza" to "food" using .extend

name_food.extend("food")
print (name_food)

['rice', 'beans', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', ['broccoli'], ['broccoli'], ['broccoli'], ['broccoli'], 'broccoli', 'f', 'o', 'o', 'd', 'f', 'o', 'o', 'd']

In [80]:
# 4. print the first two items in the food list usingprint[] and slicing notation.

print (name_food[0:2])

['rice', 'beans']

In [81]:
# 5. print the last item in food using print() and index notation.

print (name_food[3])

broccoli

In [87]:
# 6. create a list called breakfast from the string eggs, fruit, orange juice using the string.split90method.

breakfast = "eggs, fruit, orange juice".split(", ")

print (breakfast)

['eggs', 'fruit', 'orange juice']

In [89]:
# 7. verify that breakfast has three items using len().

print (len(breakfast))

3

In [97]:
# 8. create a new list called lengths using a list comprehension that contains lengths of each string in the breakfast list

lengths = [len(item) for item in breakfast]

print ("Food list", name_food)
print ("breakfast list", breakfast)
print("Length of each item in breakfast ", lengths)

Food list ['rice', 'beans', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', 'broccoli', ['broccoli'], ['broccoli'], ['broccoli'], ['broccoli'], 'broccoli', 'f', 'o', 'o', 'd', 'f', 'o', 'o', 'd', 'broccoli', 'broccoli']
breakfast list ['eggs', 'fruit', 'orange juice']
Length of each item in breakfast  [4, 5, 12]

# Review Excercise

In [7]:
# 1. CREATE A TUPLE DATA WITH TWO VALUES

data = [[1, 2], [3, 4]]

(data)

[[1, 2], [3, 4]]

In [10]:
# 2. FOR LOOP TO PRINT THE SUM OF EACH NESTED TUPLE WITH ROW NUMBER

for index, item in enumerate(data, start=1):
    print(f"Row {index} sum: {sum(item)}")

Row 1 sum: 3
Row 2 sum: 7

In [12]:
numbers = [4, 5, 2, 9, 11]

numbers[1:5]

[5, 2, 9, 11]

In [14]:
numbers.sort()

(numbers)

[2, 4, 5, 9, 11]

# Challenge : List of lists

In [16]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard. ', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]  
]


(universities)

[['California Institute of Technology', 2175, 37704],
 ['Harvard. ', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732],
 ['Princeton', 7802, 37000],
 ['rice', 5879, 35551],
 ['Stanford', 19535, 40569],
 ['Yale', 11701, 40500]]

# Challenge: Wax Poetic

In [18]:
nouns = ["Fossils", "Horse", "Aardvark", "Judge ", 
         "Chef", "Mango", "Extrovert", "Gorilla"]
(nouns)

['Fossils',
 'Horse',
 'Aardvark',
 'Judge ',
 'Chef',
 'Mango',
 'Extrovert',
 'Gorilla']

In [20]:
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
(verbs)

['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']

In [21]:
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
(adjectives)

['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']

In [22]:
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
(prepositions)

['AGAINST',
 'AFTER',
 'INTO',
 'BENEATH',
 'UPON',
 'FOR',
 'IN',
 'LIKE',
 'OVER',
 'WITHIN']

In [23]:
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]
(adverbs)

['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

In [33]:
print("Nouns: ", nouns)
print("Verbs ", verbs)
print("Adjectives: ", adjectives)
print("Prepostions: ", prepositions)
print("Adverbs: ", adverbs)

Nouns:  ['Fossils', 'Horse', 'Aardvark', 'Judge ', 'Chef', 'Mango', 'Extrovert', 'Gorilla']
Verbs  ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives:  ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepostions:  ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs:  ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

# Review Excercises

In [3]:
# 1. Create an empty dictionary named captains
captains = {}

# 2. Add the given key-value pairs using square bracket notation
captains['Enterprise'] = 'Picard'
captains['Voyager'] = 'Janeway'
captains['Defiant'] = 'Sisko'

# 3. Check if 'Enterprise' and 'Discovery' exist as keys
if 'Enterprise' not in captains:
    captains['Enterprise'] = 'Unknown'

if 'Discovery' not in captains:
    captains['Discovery'] = 'Unknown'

# 4. For loop to display the ship and captain names
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [4]:
if 'Discovery' in captains:
    del captains['Discovery']

print("\n\nAfter deleting 'Discovery': ")
for ship, captain in captains.items():
    print(f"\n\nThe {ship} is captained by {captain}.")

After deleting 'Discovery':


The Enterprise is captained by Picard.


The Voyager is captained by Janeway.


The Defiant is captained by Sisko.

# CHALLENGE: CAPITAL CITY LOOP

In [5]:
capitals = {
    "Alabama": "Montgomery",
    "Alaska": "Juneau",
    "Arizona": "Phoenix",
    "Arkansas": "Little Rock",
    "California": "Sacramento",
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

for state, capital in capitals.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.